<mat-card>
  <div>
    <h1 style="text-align: center">Kevin Young</h1>

    <p style="text-align: center">

      Software Engineer at <a href="https://throtle.io"> Throtle.</a>
      <br>
      <br> Drinks seltzer in free time.
    </p>
  </div>
  <mat-card-actions>
    <div style="margin: auto; text-align: center">
      <h3>Let's talk</h3>
        <i class="fas fa-envelope" style="font-size: 30px; color: #ee9452; margin: 5px;"></i>
        <i class="fab fa-linkedin" style="font-size: 30px; color: #ee9452; margin: 5px;"></i>
        <i class="fab fa-google-plus-square" style="font-size: 30px; color:#ee9452; margin: 5px;"></i>
        <i class="fab fa-github-square" style="font-size: 30px; color: #ee9452; margin: 5px;"></i>
    </div>
  </mat-card-actions>
</mat-card>