<div class="container">
<mat-card>
  <div>
    <h1 style="text-align: center">Kevin Young</h1>

    <p style="text-align: center">
      Builder of Cyberspace technology.
      <br>
      <br>
      Software Engineer at <a href="https://throtle.io"> Throtle.</a>
      <br>
      <br> 
      Drinks seltzer in free time.
    </p>
  </div>
  <mat-card-actions>
    <div style="margin: auto; text-align: center">
      <h3>Let's talk</h3>
        <a href="https://www.linkedin.com/in/kevin-young-5a6386b0"><i class="fab fa-linkedin" style="font-size: 30px; color: #ee9452; margin: 5px;"></i></a>
        <a href="mailto:youngks93@gmail.com"><i class="fas fa-envelope" style="font-size: 31px; color: #ee9452; margin: 5px;"></i></a>
        <a href="https://github.com/KevinStirling"><i class="fab fa-github-square" style="font-size: 30px; color: #ee9452; margin: 5px;"></i></a>
    </div>
  </mat-card-actions>
</mat-card>
</div>