<mat-card class="project-card">
  <div>
    <p>
      projects works!
    </p>
  </div>
</mat-card>
<mat-card class="project-card">
  <div>
    <p>
      projects works!
    </p>
  </div>
</mat-card>
<mat-card class="project-card">
  <div>
    <p>
      projects works!
    </p>
  </div>
</mat-card>
<mat-card class="project-card">
  <div>
    <p>
      projects works!
    </p>
  </div>
</mat-card>
<mat-card class="project-card">
  <div>
    <p>
      projects works!
    </p>
  </div>
</mat-card>
<mat-card class="project-card">
  <div>
    <p>
      projects works!
    </p>
  </div>
</mat-card>
<mat-card class="project-card">
  <div>
    <p>
      projects works!
    </p>
  </div>
</mat-card>