@import '~@angular/material/theming';
@include mat-core();

.container{
  display: flex;
  flex-flow: wrap;
  width: 80%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto; 
  align-items: center;
  justify-content: center;
}

.header{
  background-color : #29363c;
  position: absolute;
  width: 100%;
  height: 260px;
}

#avatar {
  @media only screen and (max-width: 850px) {
    margin-top: 25px;
  }
  border-radius: 50%;
  width: 200px; 
  height: 200px; 
  display: block; 
  margin-top: 130px; 
  margin-left: auto; 
  margin-right: auto; 
  z-index:2; 
  position: relative; 
}

body, html{
    background-color: whitesmoke;
    margin: 0;
    height: 100%;
  }

  a:link, a:visited {
    text-decoration: none;
    color: #ee9452;
}

$md-youngkme: (
  50 : #fdf2ea,
  100 : #fadfcb,
  200 : #f7caa9,
  300 : #f3b486,
  400 : #f1a46c,
  500 : #ee9452,
  600 : #ec8c4b,
  700 : #e98141,
  800 : #e77738,
  900 : #e26528,
  A100 : #ffffff,
  A200 : #fff2ec,
  A400 : #ffceb9,
  A700 : #ffbca0,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #000000,
      700 : #000000,
      800 : #000000,
      900 : #000000,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$custom-theme-primary: mat-palette($md-youngkme);
$custom-theme-accent: mat-palette($md-youngkme, A200, A100, A400);
$custom-theme-warn: mat-palette($mat-red);

$custom-theme: mat-light-theme($custom-theme-primary, $custom-theme-accent, $custom-theme-warn);

@include angular-material-theme($custom-theme);

